html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	position: relative;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #222;
}

div.spacer {
	width: 6px;
	height: 10px;
}

div.panel {
	position: absolute;
	border-width: 1px;
	border-style: solid;
	border-color: #c3c3c3;

	padding: 4px;

	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;

	background: #ffffff;
}
#exampleOutput {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	overflow: auto;
	cursor: default;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.4em;
	background-color: #fff;
	text-shadow: 0 1px 0 rgba(255,255,255,0.5);
	font-size: 13px;
}

#exampleOutput span {
	margin: -1px;
	border: 1px solid rgba(255,255,255,0);
	-webkit-transition: all 150ms ease-out;
	border-radius: 3px;
}

#exampleOutput p {
	margin-top: 0;
	margin-bottom: 0.5em;
	line-height: 1.4em;
}
