/* adapted from CSS-tricks: http://css-tricks.com/simple-jquery-dropdowns/ */

p                                   { margin: 15px 0; }

.disclosure {
	color: #999;
	margin-left: 3px;
}

.dropdown-container {
	min-height: 36px;
}

ul.dropdown a						{ text-decoration: none; }
ul.dropdown							{ list-style: none; min-height: 36px; border-left: 1px solid #D5D5D5; }
ul.dropdown ul						{ list-style: none; }

/* 
	LEVEL ONE
*/
ul.dropdown                         { position: relative; }
ul.dropdown li                      { float: left; zoom: 1; background: #EEE; color: #08C; }
ul.dropdown a:hover		            {  }
ul.dropdown li a                    { display: block; padding: 0 12px; line-height: 36px; border-right: 1px solid #D5D5D5; border-left: 1px solid #fff;
										color: #08C; cursor: pointer }
ul.dropdown li.hover,
ul.dropdown li:hover                { background: #d9d9d9; position: relative; }
ul.dropdown li.hover a              {  }


/* 
	LEVEL TWO
*/
ul.dropdown ul 						{ width: 180px; visibility: hidden; position: absolute; top: 100%; z-index: 1000; left: 0; margin: 0; padding: 0; box-shadow: 0 2px 5px rgba(0,0,0,0.5); }
ul.dropdown ul li 					{ font-weight: normal; background: #f6f6f6; color: #08C;
									  border-top: 1px solid #D5D5D5; float: none; }
									  
                                    /* IE 6 & 7 Needs Inline Block */
ul.dropdown ul li a					{ border-right: none; width: 100%; display: inline-block; }

/* 
	LEVEL THREE
*/
ul.dropdown ul ul 					{ left: 100%; top: 0; }
ul.dropdown li:hover > ul 			{ visibility: visible; }

