#mainContainer {
	position: relative;
	padding: 20px;
/*	width: 800px;*/
}
input, textarea
{
	width: 100%;
}
h1
{
	text-align: center;
	font-family: sans-serif;
}
#exampleDocumentContainer
{
	position: absolute;
	left: 420px;
	right: 4px;
	top: 5px;
	bottom: 0px;

}
#exampleDocumentContainer h3 {
	padding: 0;
	margin : 0;

	display: inline;
}
#exampleDocument {
	position: absolute;

	left: 0;
	right: 0;
	top: 30;
	bottom: 0;

	background-color: #eeeeee;
	border: 1px solid #c3c3c3;

	overflow: auto;
}

#exampleDocument table {
	font-size: 13px;
}

#exampleDocument table td {
	padding: 5px;
}

#nextExample {
	position: relative;
	left: 20px;
}
#prevExample {
	position: relative;
	left: 20px;
}
.faint
{
	margin: 0;
	margin-bottom: 1em;
	margin-left: 0;
	font-size: 11px;
	text-transform: uppercase;
	font-weight: bold;
	color: #6d8fa2;
}
#styleFormatInputControls
{
	position: relative;
	width: 400px;
}
div#styleFormatResult {
	padding: 0 22px 0;
	width: 600px;
}
button#searchButton {
	background-position: left center;
	background-repeat: no-repeat;
	padding-left: 18px;
/*	background-image defined in searchByExample.js.
 *	This lets us use rootURL to get the correct path. */
}
