#styleNameInput {
	min-width: 600px;
	padding: 20px 30px 10px;
	background: #eeeeee;
	border-bottom: 1px solid #c3c3c3;
}

#styleNameInput input[type=text] {
	width: 500px;
	border: 1px solid #999;
	border-radius: 50px;
	font-size: 14px;
	font-weight: normal;
	margin-top: 8px;
	margin-left: 0px;
	padding: 0.2em 0.8em;
	line-height: 19px;
	-webkit-appearance: none;
	outline: none;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.2);
}

#styleNameInput input[type=text]:focus {
	box-shadow: 0 0 5px 0px rgba(0,136,204,0.5), inset 0 1px 2px rgba(0,0,0,0.2);
	border: 1px solid #2f87e0;
}

#styleNameInput label {
	font-size: 18px;
	font-family: Arial, Helvetica;
}

#searchResults {
	padding: 0 30px 0 30px;
	width: 600px;
}

.faint
{
	margin: 0;
	margin-bottom: 1em;
	margin-left: 0;
	font-size: 11px;
	text-transform: uppercase;
	font-weight: bold;
	color: #6d8fa2;
}

#styleFormatInputControls
{
	float: left;
	width: 45%;
	margin-left: 0px;
}

.clearDiv
{
	clear: both;
}
#userCitation, #userBibliography
{
}

button#searchButton {
	font-size: 14px;
	font-weight: normal;
	margin-top: 0;
	margin-left: 0px;
	padding: 0.2em 0.8em;
	line-height: 1.4em;

	color: white;
	border-radius: 5px;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #006DCC;
	background: -moz-linear-gradient(top, #08C 0%, #04C 100%);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#08C), to(#04C));
	background-image: -webkit-linear-gradient(top, #08C, #04C);
	background-image: linear-gradient(to bottom, #08C, #04C);
	border-width: 1px;
	border-style: solid;
	background-repeat: repeat-x;
	border-color: #04C #04C #002A80;

	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

#message {
	padding-left: 250px;
}
