/* overall layout */

#mainContainer {
	position: relative;
	min-width: 800px;
}
input, textarea {
	width: 100%;
}
h1 {
	text-align: center;
	font-family: sans-serif;
}
h2 {
	font-weight: normal;
}
h2 strong {
	font-weight: bold;
}
h3 {
	margin: 2px;
	font-size: 11px;
	text-transform: uppercase;
	font-weight: bold;
	color: #6C8FA2;
	height: 21px;
	padding-top: 1px;
	padding-bottom: 1px;
}
#topPane {
	position: absolute;

	top: 0px;
	left: 0px;
	right: 0px;

	background-color: #EEEEEE;

	border-bottom-style: solid;
	border-bottom-color: #C3C3C3;
	border-bottom-width: 1px;
}
.topPaneHeight {
	height: 323px;
}
#rightColumn {
	position: relative;
	float: right;
	width: 60%;
}
#leftColumn {
	position: relative;
	float: left;
	width: 40%;
}
.padding {
	position: absolute;
	left: 10px;
	right: 10px;
	top: 10px;
}

/* example document */
#exampleDocumentContainer {
	position: relative;
}
#exampleDocumentContainer button {
	font-size: 12px;
	margin: 2px;
	padding-top: 1px;
	padding-bottom: 1px;
}
#exampleDocumentContainer h3 {
	display: inline;
}
#exampleDocument {
	background-color: #FCF8C9;
	border: 1px solid #c3c3c3;
	border-radius: 3px;

	overflow-x: auto;
}

#exampleDocument span.fieldTitle {
	font-size: 12px;
	font-weight: bold;
}
#exampleDocument span.fieldValue {
	font-size: 13px;
	font-family: monospace;
}

#exampleDocument table td {
	padding: 5px;
}

#nextExample {
	position: relative;
	left: 20px;
}
#prevExample {
	position: relative;
	left: 20px;
}
.faint
{
	margin: 0;
	margin-bottom: 1em;
	margin-left: 0;
	font-size: 11px;
	text-transform: uppercase;
	font-weight: bold;
	color: #6d8fa2;
}

span.match {
	background-color: white;
	border-style: solid;
	border-width: 1px;
	border-color: #DDDDDD;
}

/* input controls */

#styleFormatInputControls
{
	position: relative;
	padding: 0px;
	margin: 0px;
}
#citationContainer,
#bibliographyContainer {
	position: relative;
}
#styleFormatInputControls.citationSelected #citationContainer .cleditorMain {
	box-shadow: 0 0 5px 1px rgba(0,136,204,1);
}
#styleFormatInputControls.bibliographySelected #bibliographyContainer .cleditorMain {
	box-shadow: 0 0 5px 1px rgba(0,136,204,1);
}
#styleFormatInputControls.citationSelected #citationContainer .arrow {
	position: absolute;
	left: -20px;
	top: 19px;
	border-color: transparent #CDCBAC;
	border-style: solid;
	border-width: 16px 0px 16px 16px;
	height: 0px;
	width: 0px;
}
#styleFormatInputControls.bibliographySelected #bibliographyContainer .arrow {
	position: absolute;
	left: -20px;
	top: 39px;
	border-color: transparent #CDCBAC;
	border-style: solid;
	border-width: 16px 0px 16px 16px;
	height: 0px;
	width: 0px;
}
button#searchButton {
	font-size: 14px;
	font-weight: bold;
	margin-top: 8px;
	margin-left: 0px;
}
