/* overall layout */

#mainContainer {
	position: relative;
	min-width: 960px;
}

#mainContainer textarea {
	width: 100%;
}

#mainContainer h1 {
	text-align: center;
	font-family: sans-serif;
}

#mainContainer h2 {
	font-weight: 300;
	margin: 0;
	padding: 20px 0;
}

#mainContainer h2 strong {
	font-weight: bold;
}

#mainContainer h3 {
	margin: 2px;
	font-size: 11px;
	text-transform: uppercase;
	font-weight: bold;
	color: #6C8FA2;
	height: 21px;
	padding-top: 1px;
	padding-bottom: 1px;
}

#topPane {
	padding-bottom: 20px;
	position: relative;
	background-color: #EEEEEE;
	border-bottom-style: solid;
	border-bottom-color: #C3C3C3;
	border-bottom-width: 1px;
}

.topPaneHeight {
}

#rightColumn,
#resultsPane {
	position: relative;
	margin-left: 394px;
}

#leftColumn {
	position: relative;
	float: left;
	width: 394px;
	z-index: 1;
}

#leftColumn .padding {
	padding-left: 20px;
}

#rightColumn .padding {
	padding-right: 20px;
	padding-left: 20px;
}

#resultsPane .padding {
	padding-left: 20px;
	padding-right: 20px;
}


/* example document */
#exampleDocumentContainer {
	position: relative;
}
#exampleDocumentContainer button {
	font-size: 12px;
	margin: 2px;
	padding-top: 1px;
	padding-bottom: 1px;
}
#exampleDocumentContainer h3 {
	display: inline;
}
#exampleDocument {
	background-color: #FCF8C9;
	border: 1px solid #c3c3c3;
	border-radius: 3px;

	overflow-x: auto;
}

#exampleDocument span.fieldTitle {
	font-size: 12px;
	font-weight: bold;
}
#exampleDocument span.fieldValue {
	font-size: 13px;
	font-family: monospace;
}

#exampleDocument table td {
	padding: 5px;
}

#nextExample {
	position: relative;
	left: 20px;
}
#prevExample {
	position: relative;
	left: 20px;
}
.faint
{
	margin: 0;
	margin-bottom: 1em;
	margin-left: 0;
	font-size: 11px;
	text-transform: uppercase;
	font-weight: bold;
	color: #6d8fa2;
}

mark {
	box-shadow: 0 0 5px 1px rgba(0,136,204,1);
	background: #FCF8C9;
	border-radius: 2px;
}

/* input controls */

#styleFormatInputControls
{
	position: relative;
	padding: 0px;
	margin: 0px;
}
#citationContainer,
#bibliographyContainer {
	position: relative;
}
#styleFormatInputControls.citationSelected #userCitation {
	box-shadow: 0 0 5px 0px rgba(0,136,204,1);
}
#styleFormatInputControls.bibliographySelected #userBibliography {
	box-shadow: 0 0 5px 0px rgba(0,136,204,1);
}
#styleFormatInputControls.citationSelected #citationContainer .arrow {
	position: absolute;
	left: -20px;
	top: 6px;
	border-color: transparent #CDCBAC;
	border-style: solid;
	border-width: 8px 0px 8px 12px;
	height: 0px;
	width: 0px;
}
#styleFormatInputControls.bibliographySelected #bibliographyContainer .arrow {
	position: absolute;
	left: -20px;
	top: 6px;
	border-color: transparent #CDCBAC;
	border-style: solid;
	border-width: 8px 0px 8px 12px;
	height: 0px;
	width: 0px;
}
#userCitation .toolbar,
#userBibliography .toolbar {
	left: 0;
}
#userCitation .editor,
#userBibliography .editor {
	background-color: white;
	border-style: solid;
	border-width: 1px;
	border-color: #949494;

	outline: 0;

	padding: 6px;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.2);
}

.citationSelected #userCitation .editor {
	border-color: #2F87E0;
}

.bibliographySelected #userBibliography .editor {
	border-color: #2F87E0;
}

button#searchButton {
	font-size: 14px;
	font-weight: normal;
	margin-top: 20px;
	margin-left: 0px;
	padding: 0 0.8em;
	line-height: 1.8em !important;

	color: white;
	border-radius: 5px;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #006DCC;
	background: -moz-linear-gradient(top, #08C 0%, #04C 100%);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#08C), to(#04C));
	background-image: -webkit-linear-gradient(top, #08C, #04C);
	background-image: linear-gradient(to bottom, #08C, #04C);
	border-width: 1px;
	border-style: solid;
	background-repeat: repeat-x;
	border-color: #04C #04C #002A80;

	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
#alternateSearch,
#alternateSearchLabel {	
	margin-top: 12px;
	float: right;

	display: none;
}
