html, body {
	overflow: hidden;
	position: relative;
}
#mainContainer {
	position: absolute;

	top: 24px;
	bottom: 0px;
	left: 0px;
	right: 0px;

	min-width: 500px;	/* Splitter can't be too thin ... */
	min-height: 300px;	/* ... or too flat */
	clear: both;
}
.searched {
	background: yellow;
}
#treeEditor {
	font-size: 14px;

	overflow: auto;
}
div.panel {
	position: absolute;
	border-width: 1px;
	border-style: solid;
	border-color: #888888;

	top: 2px;
	bottom: 2px;
	left: 2px;
	right: 2px;
}
ul.dropdown {
/*	float: left;*/
}
#treeEditorTitle {
	float: left;
}
#leftContainer {
	position: absolute;
	left: 0;
	top: 0;
	width: 25%;
	height: 100%;
	/*overflow: auto;*/
}
#rightContainer {
	position: absolute;
	left: 25%;
	top: 0;
	width: 75%;
	height: 100%;
}
#topRightContainer {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 50%;
}
#bottomRightContainer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 50%;
}
#exampleOutput {
	overflow: auto;
	cursor: default;
	font-family:Verdana,Geneva,'DejaVu Sans',sans-serif;
	line-height: 1.3;
}
#exampleOutput p {
	margin-top: 0;
	margin-bottom: 0.2em;
}
#exampleOutput h3 {
	margin-top: 0.5em;
	margin-bottom: 0.1em;
}
#elementProperties {
	font-size: 14px;
	background-color: #F5F5DC;
	overflow: auto;
}
#elementProperties > table,
#elementProperties > table > tr,
#elementProperties > table > tr > td
{
	width: 100%;
}
label.> tr
{
	width: 800px;
}
input.propertyInput {
	min-width: 250px;
}
label.propertyLabel {
	min-width: 150px;
	display: block;
}
button {
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 0;
	padding-bottom: 0;
	margin: 0;
	line-height: 1.3;
}
button::-moz-focus-inner {
    border:0;
    padding:0;
}
div.cslNodeButton {
	float: right;
	margin-left: 4px;
}
button.customButton {
	float: right;
	margin-left: 4px;
}
.cslPropertyButton {
/*	float: right;*/
}
.cslPropertyButton:hover {
	background: #cceeff;
}

ul.sortKeys span.ui-icon {
	display: inline-block;
}
ul.sortKeys li {
	width: 300px;
}

/** Very hacky fix for jstree move between nodes bug:
 *  https://github.com/vakata/jstree/issues/174
 *
 *  TODO: Delve into jstree code and do a better fix
 */

.jstree li {
position: relative;
z-index: 20 !important;
}

#jstree-marker-line {
z-index: 10 !important;
}

ul.dropdown {
z-index: 30 !important;
}

/* Icons */
.jstree-default li[rel] > a > ins {
	background-image:url("../external/famfamfam-icons/bullet_black.png");
	background-repeat:no-repeat;
	background-color:transparent;
	background-position: 0px, 0px;
}
