
html, body {
	overflow: hidden;
	position: relative;
	font: 12px Helvetica, Sans-Serif;
}
#notificationBar {
	position: absolute;
	display: none;
	background-color: #FFFF88;
	z-index: 40;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
#notificationBar .message {
	margin: 6px;
}
#notificationBar .dismiss {
	margin: 6px;
}
#mainContainer {
	position: absolute;

	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;

	min-width: 500px;	/* Splitter can't be too thin ... */
	min-height: 300px;	/* ... or too flat */
	clear: both;

	background: #eeeeee;
}
.searched {
	background: yellow;
}
#treeEditorPanel {
	position: absolute;
	right: 0;
	top: 36px;
	font-size: 12px;
	border-left: 0 none;
	border-bottom: 0 none;
}
#treeEditorToolbar {
	position: absolute;
	top: 5px;
	right: 22px;
}
#treeEditor {
	position: absolute;
	top: 0px;
	font-size: 12px;

	left: 0px;
	right: 0px;
	bottom: 0px;

	padding: 10px;

	overflow: auto;
}
/* don't show background for focussed trees since it messes up when horizontally scrolling */
#treeEditor .jstree-default.jstree-focused { background:#ffffff; }

#treeEditor h3 {
	margin: 0;
	font-size: 11px;
	text-transform: uppercase;
	font-weight: bold;
	color: #6C8Fa1;
}

#treeEditor .smartTreeHeading a {
	cursor: pointer;
}

#treeEditor .smartTreeHeading a:hover {
	text-decoration: none;
}

ul.example-citations {
	position: absolute;
	right: 0;
	top: 0;
	z-index: 30;
}

#leftContainer {
	position: absolute;
	left: 0;
	top: 0;
	width: 25%;
	height: 100%;
	z-index: 3 !important;
}
#rightContainer {
	position: absolute;
	left: 25%;
	top: 0;
	width: 75%;
	height: 100%;
}
#rightSplitterLayout {
	position: absolute;
	left: 0;
	right: 0;
	top: 36px;
	bottom: 0;
}
#topRightContainer {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 45%;
}
#bottomRightContainer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 55%;
}

#elementPropertyPanel {
	font-size: 14px;
	overflow: auto;
	padding: 10px;
	border-right: 0 none;
	border-bottom: 0 none;
}
#elementPropertyPanel [disabled="disabled"] {
	opacity:0.5;
}
#elementPropertyPanel .propertyToolbar {
	margin-bottom : 10px;
}
#elementPropertyPanel .propertyToolbar .ui-button .ui-button-text
{
	line-height: 1.0;
}
#elementPropertyPanel table.conditional {
	table-layout: fixed;
	border-spacing: 0px;
}
#elementPropertyPanel table.conditional tr {
	background-color: #EEEEEE;
}
#elementPropertyPanel table.conditional td {
	padding-left: 3px;
	padding-right: 4px;
	padding-top: 10px;
	padding-bottom: 10px;

	border-bottom: solid;
	border-color: white;
	border-width: 1px;
}
#elementPropertyPanel table.conditional td.mainOption {
	padding-left: 10px;
}
#elementPropertyPanel table.conditional col.c1 {
	min-width: 100px;
}
#elementPropertyPanel table.conditional col.c2 {
	min-width: 200px;
}
#elementPropertyPanel table.conditional col.c3 {
	min-width: 100px;
}
#elementPropertyPanel table.conditional td.delete {
	padding-left: 25px;
	padding-right: 3px;
}
#elementPropertyPanel table.conditional td.add {
	padding-left: 3px;
	padding-right: 15px;
}
#elementPropertyPanel table.conditional button.deleteValue,
#elementPropertyPanel table.conditional button.addValue {
	width: 23px;
}
#elementPropertyPanel .weak {
	color: #777777;
}

#elementPropertyPanel .float {
	float: left;
}
#elementPropertyPanel .reset {
    position: absolute;
    right: 10px;
    top: -4px;
}
#elementPropertyPanel fieldset {
    position: relative;
    border: 1px solid #999;
    font-family: Helvetica;
    font-size: 12px;
    border-radius: 4px;
    padding: 10px;
	margin: 4px;
}

#elementPropertyPanel legend {
	font-weight: bold;
}

#elementPropertyPanel label {
	font-size: 12px;
}

#elementPropertyPanel .short {
	width: 30px;
}

#nodePathView {
	font-size: 12px;
	background: #E7E7E7;
	margin: -10px;
	padding: 5px;
	margin-bottom: 20px;
	color: #999;
}

#nodePathView span {
	display: inline-block;
	margin: 0 5px;
	color: #000;
}

#nodePathView .selected  { background:#beebff; border:1px solid #6ab9e1; border-radius: 3px; margin: 4px; }

button {
	line-height: 1.3;
}
button::-moz-focus-inner {
    border:0;
    padding:0;
}
div.cslNodeButton {
	float: right;
	margin-left: 4px;
}
button.customButton {
	float: right;
	margin-left: 4px;
}
.cslPropertyButton {
/*	float: right;*/
}
.cslPropertyButton:hover {
	background: #cceeff;
}

ul.sortKeys {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul.sortKeys span.ui-icon {
	display: inline-block;
}
ul.sortKeys li {
	width: 300px;
	padding: 0.3em;
}

/** Very hacky fix for jstree move between nodes bug:
 *  https://github.com/vakata/jstree/issues/174
 *
 *  The z-index hack mentioned above worked at some point, but looked very ugly.
 *
 *  Now it doesn't work at all, so I've made the marker line invisible.
 *
 *  TODO: Delve into jstree code and do a better fix
 */
#jstree-marker-line {
visibility: hidden;
}

ul.dropdown {
	margin: 0;
	padding: 0;
	z-index: 30 !important;
}

/* Highlighting */
div.selected,
span.selected {
	margin: -1px;
	background-color : #BEEBFF;
	border: 1px solid #99DEFD !important;
	cursor : default;
	padding: 0;
}

.highlighted,
.smartTreeHeading .missingNode:hover,
#nodePathView span[cslid]:hover {
	color : black;
	cursor : pointer;
	box-shadow: 0 0 5px 1px rgba(0,136,204,1);
}

.jstree .highlighted { background: transparent; border:1px solid #6ab9e1; padding:0 2px 0 1px; box-shadow: none; border-radius: 3px; }
#treeEditorPanel .clicked { background:#beebff; border:1px solid #6ab9e1; padding:0 2px 0 1px; border-radius: 3px; }

#elementPropertyPanel h3 {
	font-weight: normal;
}
#elementPropertyPanel h3 span.selected {
	color: black;
	background-color: transparent;
	font-weight: bold;
}

li.sidePadding {
	padding-left: 5px;
	padding-right: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
}

li[cslid][macrolink="true"] {
	/* style macrolink here */
}

li[cslid][data-error] a,
li[cslid][data-invalid] a,
li[cslid].errorParent > a {
	border:1px solid #ff2222; padding:0 2px 0 1px; box-shadow: none; border-radius: 3px;
}

button.icon {
	background-position: left center;
	background-repeat: no-repeat;
	padding-left: 18px;
}

#addNodeDialog table td {
	padding: 5px;
}
#addNodeDialog button {
	width: 90px;
}

#elementProperties fieldset {
	margin: 0;
	margin-bottom: 1em;
	box-sizing: border-box;
	float: left;
	clear: left;
	width: 100%;
}

#elementProperties .propertyLabel {
	display: inline-block;
	min-width: 80px;
}

.propertyInput {
	width: 30em;
}

.propertyInput.tiny {
	width: 5em;
}

