[submodule "external/codemirror2"]
	path = external/codemirror2
	url = http://marijnhaverbeke.nl/git/codemirror
	update = none
[submodule "external/csl-schema"]
	path = external/csl-schema
	url = https://github.com/citation-style-language/schema.git
	update = none
[submodule "external/jstree"]
	path = external/jstree
	url = https://github.com/citation-style-editor/jstree.git
	update = none
[submodule "external/locales"]
	path = external/locales
	url = git://github.com/citation-style-language/locales.git
[submodule "external/csl-styles"]
	path = external/csl-styles
	url = git@github.com:citation-style-language/styles.git
