[submodule "external/codemirror2"]
	path = external/codemirror2
	url = http://marijnhaverbeke.nl/git/codemirror2
[submodule "external/cleditor"]
	path = external/cleditor
	url = https://github.com/cleditor/cleditor.git
[submodule "external/csl-styles"]
	path = external/csl-styles
	url = https://github.com/citation-style-language/styles.git
[submodule "external/csl-schema"]
	path = external/csl-schema
	url = https://github.com/citation-style-language/schema.git
[submodule "external/jstree"]
	path = external/jstree
	url = https://github.com/citation-style-editor/jstree.git
[submodule "external/locales"]
	path = external/locales
	url = git://github.com/citation-style-language/locales.git
[submodule "locales"]
	path = locales
	url = git://github.com/citation-style-language/locales.git
