#styleNameInput {
	padding: 20px 30px 10px;
	background: #eeeeee;
	border-bottom: 1px solid #c3c3c3;
}
#styleNameInput input[type=search] {
	border: 1px solid #999;
	border-radius: 50px;
	font-size: 16px;
	width: 400px;
	outline: none;
	padding: 3px 10px;
	line-height: 18px;
}
#styleNameInput label {
	font-size: 18px;
	font-family: Arial, Helvetica;
}

#searchResults {
	padding: 0 30px 0 30px;
	width: 600px;
}

.faint
{
	margin: 0;
	margin-bottom: 1em;
	margin-left: 0;
	font-size: 11px;
	text-transform: uppercase;
	font-weight: bold;
	color: #6d8fa2;
}
#styleFormatInputControls
{
	float: left;
	width: 45%;
	margin-left: 0px;
}
.clearDiv
{
	clear: both;
}
#userCitation, #userBibliography
{
}
button#searchButton {
	background-position: left center;
	background-repeat: no-repeat;
	padding-left: 18px;
	/* define background-image in javascript since it depends on rootURL */
}
#message {
	padding-left: 250px;
}
