#searchResults {
	position : absolute;
	width : 800px;
}

#searchResults table {
	width : 100%;

	font-size : 14px;
}

#searchResults td {
	position : relative;
}
#searchResults td.closeness {
	width : 160px;
	font-weight: bold;
	color: #0D3785;
}
#searchResults td.match {
	background-color : #eeeeee;
	padding : 10px;
}
#searchResults table.featuredStyle {
	background-color : #BEEBFF;
	border: 1px solid #99DEFD;
}
#searchResults table.featuredStyle td.match {
	background-color : #99DEFD;
}

#searchResults span.featuredStyle {
	float : right;
	margin-right : 5px;
	font-style : italic;
}
